.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -2; */
    height: 100vh;
}

.form-container {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 45px;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 248, 248);
    opacity: 0.89;
}
.login-wrapper {
    display: flex;
    width: 80%;
    height: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
  
}

input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}