@font-face {
    font-family: "CustomFont"; /* Name your font family */
    src: url("JosefinSans-Bold.ttf"); /* Locate the .ttf file within your directory*/
    /*font/JosefinSans-Bold.ttf */
}

@font-face {
    font-family: "regJosefin"; /* Name your font family */
    src: url("JosefinSans-Regular.ttf"); /* Locate the .ttf file within your directory*/
    /*font/JosefinSans-Bold.ttf */
}

.login-page {
    width: 360px;
    margin: auto;
}

.letakImg {
    display: flex;
    position: relative;
    justify-content: center;
}

.regis {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.regis-text {
    font-size: 0.8em;
}

.kerupuk1,
.kerupuk2,
.kerupuk3,
.kerupuk4 {
    width: 100px;
    height: 100px;
    margin-left: 2px;
    margin-right: 2px;
}

.login-form {
    margin-top: 20px;
    margin-left: -28px;
    max-width: 500px;
}

.register-form {
    margin-top: 100px;
    margin-left: 60px;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    width: 360px;
    max-height: 500px;
    /* margin: 200 auto 100px; */
    padding: 25px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-reg {
    position: fixed;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    max-height: 400px;
    margin-top: 80px;
    margin-bottom: 90px;
    /* margin: 200 auto 100px; */
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #5b5dd8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #6466d8;
}

.form-reg input {
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-reg button {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #5b5dd8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form-reg button:hover,
.form-reg button:active,
.form-reg button:focus {
    background: #6466d8;
}

.form .message {
    margin: 15px 0 0;
    color: #6466d8;
    font-size: 12px;
}

.form .message a {
    color: #6466d8;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 2;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.judul {
    text-align: center;
    margin: auto;
    color: rgb(48, 115, 241);
    font-family: fantasy;
}

.subjudul {
    text-align: center;
    margin: auto;
    color: azure;
    font-family: system-ui;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #ef3b3a;
}

.bg {
    opacity: 15%;
    position: fixed;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #54a1d8;
    transition: 0.5s;
}

.nav-link {
    position: relative;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #e0dcf0d7;
}

.my-container {
    transition: 0.4s;
    margin-left: 55px;
    height: 100%;
}

.active-nav {
    margin-left: 0;
    z-index: 0;
}

.btn-detail {
    border-color: rgb(133, 175, 253);
    align-items: end;
    color: #4d4d4d;
}

.btn-detail:hover {
    background-color: rgb(133, 175, 253);
    align-items: end;
    color: #cfdbda;
}

/* for main section */
.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #5b5dd8;
    color: #fff;
    margin-left: 20px;
    margin-top: 15px;
}

.my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
}

.detail-dashboard {
    height: 400px;
}

.h3 {
    color: red;
    text-align: center;
}

.detail-btn {
    margin-left: 520px;
}

.required {
    color: red;
}

select {
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    background: transparent;
    /* background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); */
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    max-width: 560px;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

@media (max-width: 995px) {
    .strong {
        /* display: none; */
        left: 200;
    }
}
